# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment folders
venv/
env/
ENV/
.venv/
.venv/*

# Poetry
poetry.lock

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Env files
.env
*.env

# Streamlit specific
.streamlit/
.streamlit/secrets.toml

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code specific
.vscode/

# IDE specific (JetBrains / PyCharm)
.idea/
*.iml
*.iws
*.ipr
